@model IEnumerable<DiamondAPI.Models.Diamond>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shape)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaratWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clarity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shape)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaratWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clarity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cut)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DProductId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DProductId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
